body{
	margin: 0;
	padding: 0;
	font-family: serif Arial;
	background-color: #e8e8e8;
}

.flex-box-start{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

/*---------------------
		SIDE BAR
-----------------------*/
#side-bar{
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.35);
}
.side-bar-content{
	float: left;
	padding: 28px 20px;
	width: 320px;
	height: 100vh;
	background-color: #e8e8e8;
	box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.05);
	box-sizing: border-box;

	animation-name: sideBarIn;
	animation-duration: 0.3s;
}
.side-bar-header{
	color: #333;
	font-size: 24px;
	letter-spacing: 1px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.side-bar-header span.close-side-bar{ 
	opacity: 0.8;
	cursor: pointer;
	font-size: 28px;
}
.side-bar-body ul{
	list-style-type: none;
	transform: translate(-44px); 
}
.side-bar-body ul li {
	margin-bottom: 1px;
	width: 100%;
	padding: 8px;
	letter-spacing: 1px;
}
.side-bar-body ul li:hover {
	color: blueviolet;
	background-color: rgba(0, 0, 0, .05);
}
.side-bar-body ul li:hover a{ color: blueviolet; }
.side-bar-body ul li.active{ 
	font-weight: bold;
	background-color: rgba(0, 0, 0, .05);
}
.side-bar-body ul li.active a{ color: blueviolet; }
.side-bar-body ul li a{
	font-size: 16px;
	text-decoration: none;
	color: #333;
	text-transform: uppercase;
}

/*------------------------
	SIDE BAR ANIMATION
--------------------------*/
@keyframes sideBarIn{
	from{ transform: translateX(-30%); opacity:0; }
	to{transform: translateX(0); opacity:1;}
}

/*----------------------
		NAVBAR
-----------------------*/
header nav{
	height: 50px;
	box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.08);
	box-sizing: border-box;
}
header nav div.hamburger-menu{
	width: fit-content;
	margin-left: 64px;
	padding: 4px;
	border: 2px solid #555;
	border-radius: 4px;
	cursor: pointer;
}
header nav div.hamburger-menu:hover{
	border-color: #333;
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.15);
}
header nav div.hamburger-menu:hover div{ background-color: #333; }
header nav div.hamburger-menu div{
	margin: 2px;
	width: 24px;
	height: 4px;
	background-color: #555;
	border-radius: 2px;
}