body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: rgba(0, 255, 255, 0.1);
}
section#about-section{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
div.section-title{
	margin: 24px 0px 0px 0px;
	color: #333;
	font-size: 24px;
	font-family: impact;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
p.section-sub-title{
	color: #555;
	font-size: 14px;
}

article.about{
	margin: 18px 0px;
	display: grid;
	grid-template-columns: auto auto;
	gap: 24px;
}
article.about img.about-img{
	width: 440px;
	height: 300px;
	border-radius: 8px;
	box-shadow: 1px 1px 4px 4px rgba(0, 0, 255, 0.1);
}
article.about .tab-view{
	width: 440px;
	min-height: 300px;
	border-radius: 8px;
	box-shadow: 1px 1px 4px 4px rgba(0, 0, 255, 0.05);
}
.tab-view .tab-bar{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.tab-view .tab-bar .tab{
	padding: 14px 45px;
	color: #444;
	font-size: 12px;
	text-transform: uppercase;	
	letter-spacing: 2px;
	cursor: pointer;
	user-select: none;
	background-color: #aaa;
	box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.06);
}
.tab-view .tab-bar .tab:first-child{border-top-left-radius: 8px;}
.tab-view .tab-bar .tab:last-child{border-top-right-radius: 8px}
.tab-view .tab-bar .tab:hover{ color: #f3f3f3; }
.tab-view .tab-bar .active-tab{
	color: #444 !important;
	font-weight: bold;
	background-color: #efefef;
	box-shadow: none;
}
.tab-view .tab-contents{
	margin-top: 0px;
	padding: 8px 12px;
	height: 244px;
	background-color: #efefef;
}
.tab-view .tab-contents .tab-content{ 
	font-size: 14px;
	color: #555;
	text-align: justify;
	display: none;
}
.tab-view .tab-contents .active-content{ display: block; }