body{
	margin: 0;
	padding: 0;
	background-color: #e8e8e8;
	font-family: serif sans-serif;
}
/*---------------------
		MODAL
-----------------------*/
#modal{
	z-index: 1;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
	/*display: none;*/
}
.modal-content{
	margin: 12% 24%;
	width: 50vw;
	height: 40vh;
	background-color: #f3f3f3;
	border-radius: 8px;
	box-sizing: border-box;

	animation-name: modalSlideIn;
	animation-duration: 0.4s;
}
.modal-header{
	margin: 4px;
	font-size: 24px;
	letter-spacing: 1px;
	font-weight: bold;
	border-bottom: 1px solid #555;

	display: flex;
	align-items: center;
	justify-content: space-between;
}
.modal-header .modal-title{ 
	margin: 8px 12px;
}
.modal-header .close-modal{ 
	margin: 8px 12px;
	font-size: 24px;
	user-select: none;
	cursor: pointer;
	opacity: 0.75;
}
.modal-header .close-modal:hover{
	opacity: 1;
	transform: scale(1.1);
}
.modal-body{
	width: auto;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal-footer{
	margin: 4px;
	border-top: 1px solid #555;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.modal-footer button{	
	margin: 8px 12px;
	padding: 4px 8px;
	border-radius: 4px;
}
.modal-footer button:nth-child(1){ 
	margin-right: 2px;
	border: 1px solid #444; 
}
.modal-footer button:nth-child(1):hover{
	background-color: #666;
	color: #f3f3f3;
	border-color: transparent;
}
.modal-footer button:nth-child(2){
	padding: 4px 12px;
	color: #f3f3f3;
	background-color: seagreen;
	border-color: transparent;
}
.modal-footer button:nth-child(2):hover{ box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.12); }

/*---------------------
	MODAL ANIMATION
-----------------------*/
@keyframes modalSlideIn{
	from { transform: translateY(-50%); opacity:0 }
	to { transform:translateY(0%); opacity: 1; }
}

/*---------------------
	WEBSITE CONTENT
-----------------------*/
main{
	width: 100vw;
	height: 100vh;
}
.flex-box{
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn{
	padding: 8px 12px;
	letter-spacing: 1px;
	font-size: 18px;
	border-radius: 4px;
	box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.1);
}
.btn:active{ box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25); }
.btn-outline{ border: 2px solid #333; }
.btn-outline:hover{ 
	color: #f3f3f3; 
	background-color: #333; 
}
.btn-outline:active{ 
	background-color: #666;
	border-color: transparent;
}